# Credentials definition for local dev
OPENAI_API_KEY=""

DATABASE_URL=""
SUPABASE_URL=""
SUPABASE_KEY=""

EVO_URL=""
EVO_INSTANCE=""
EVO_APIKEY=""
GLOBAL_EVO_APIKEY=""

# Public URL of this app (used to configure Evolution API webhook)
VITE_APP_URL=""
